*{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.img{
        max-width: 300px; 
        max-height: 300px;
}

strong{
    color: #1f3fb4;
}

header{
    background-image: url(https://images.unsplash.com/photo-1611283054188-007d2a02ea9f?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    padding: 20px;
    color: #0d3e22
    
}

h2{
    color: #616161
}

h3{
    color: #336aae;
}
